@model Library_Pro.Models.ReturnedViewModel
@{
    ViewData["Title"] = "Returned";
    var i = 1;
}

<h1>Returned</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Client Name</th>
            <th scope="col">Book Title</th>
            <th scope="col">Lending Date</th>
            <th scope="col">Returned Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Lendings.Any())
        {
            @foreach (var item in Model.Lendings)
            {
                <tr>

                    <th scope="row">@i</th>
                    <td>@item.Client.Name</td>
                    <td>@item.Book.Title</td>
                    <td>@item.DatumZajmuvanje</td>
                    <td>@item.DatumVratena</td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="5">Nothing To Display</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Library" asp-action="Detail" asp-route-libraryId="@Model.LibraryId">Back</a>

@if (TempData.Keys.Contains("Message"))
{
    <div style="margin-top:5px" class="alert alert-info">@TempData["Message"]</div>
}